<h1>V for Vendetta Quotes</h1>

<p><%= @quote.content %></p>

<p><%= link_to 'Next Quote', root_path, data: {turbolinks: false} %></p>

<p class="small">Quotes from the film <%= link_to 'V for Vendetta', 'https://en.wikipedia.org/wiki/V_for_Vendetta_(film)' %>.</p>
